extends layout-ws

block content
  main.loading
    label(for="nums") Cameras quantity
    input.nums_input(type="number",name="nums",placeholder="e.g. 3",value="0",min="0",max="255")
    button#change change

    div.cameras

    - servName = true

prepend footer
  button#reset(type="reset") No camera
  

prepend scripts
  script(src="/javascripts/director.js",defer)