extends layout-ws

block content
  main.loading
    label(for="nums") Cameras quantity
    input.nums_input(type="number",name="nums",placeholder="e.g. 3",value="0",min="0",max="255")
    button#change change

    div.cameras

prepend footer
  .status
    a(href="/") Tally Lights
    | 
  button#reset(type="reset") Not on air

prepend scripts
  script(src="/javascripts/director.js",defer)