extends layout-ws

block content
	main.loading
		a(href="./settings") Перейти в настройки

		div.cameras

		- servName = true

prepend footer
	button#reset_camera No camera

prepend scripts
	script(src="/javascripts/director.js",defer)

append head
	link(rel='stylesheet' href='/stylesheets/director.css')
