extends layout-ws

block content
  main
    //- h1= title
    //- p Welcome to #{title}
    label(for="nums") Количество камер
    input.nums_input(type="number",name="nums",placeholder="например, 3",value="0",min="0",max="255")
    button#change поменять

    div.cameras

  footer.footer
    .status
      a(href="/") Tally Lights
      | 
    button#reset(type="reset") Не в эфире
    .copyright
      | © 
      a(href="//bouhartsev.top/") Matvey Bouhartsev
      | , 2021
  script(src="/javascripts/director.js",defer)