extends layout

block content
  //- div.logo
  //- h1= pageTitle
  //- p Welcome to #{pageTitle}! The site is being developed.
  main
    include:markdown-it(html typographer) ../README.md

append head
  link(rel='stylesheet' href='/stylesheets/main.css')