doctype html
- var servName = false
- var reqTranslit = false
html(lang="en")
	head
		block head
			if (pageTitle)
				title= pageTitle
			else
				title Tally Lights Online
			meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
			link(rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png")
			link(rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png")
			link(rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png")
			link(rel="manifest" href="/images/favicons/site.webmanifest")
			link(rel='stylesheet' href='/stylesheets/style.css')
	body
		block content
		footer.footer
			if servName
				.status
					a(href="/") Tally Lights
				| 
			block footer
				.copyright
					| © 
					a(href="//bouhartsev.top/") Matvey Bouhartsev
					| , 2022-2023
		block scripts
			if (reqTranslit)
				script(defer, src="https://cdn.jsdelivr.net/npm/transliteration@2.1.8/dist/browser/bundle.umd.min.js")
				script(defer, src="/javascripts/title-slug.js")
