extends layout-ws

block content
	h1 Settings
	main.loading
		include settings-form
		section.toCopy
			button.clipboard(title="Copy to clipboard" aria-label="Copy to clipboard")
			div.director-links Director - 
				//- a(href="https://example.com" target="_blank" rel="noopener noreferrer") https://example.com
		section.toCopy
			button.clipboard(title="Copy to clipboard" aria-label="Copy to clipboard")
			ol.cameras_crew-links
				//- li Camera 1 - 
				//-     a(href="https://example.com" target="_blank" rel="noopener noreferrer") https://example.com
		//- button.delete delete

prepend footer
	//- автоматический переход на режиссёрскую страницу - ?
	div.bottom_air
		| broadcast
		button#air(aria-label="broadcast" role="switch" aria-checked=(liveChecked ? "true" : "false") data-finish="00:00")

prepend scripts
	script(src="/javascripts/settings.js",defer)

append head
	link(rel='stylesheet' href='/stylesheets/settings.css')