:root {
  --color-fg: whitesmoke;
  --color-bg: #002137;

  --color-green: green; /* #2EC11F */
  --color-red: #E8252F;
  --color-orange: #EC7C26;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y: overlay;
  background: var(--color-bg);
  color: var(--color-fg);
  text-align: center;
  position: relative;
  margin: 0;
  touch-action: manipulation;
}

main {
  padding: 30px;
}

a {
  color: inherit;
}

.nums_input {
  margin: 10px;
}

#save {
  display: block;
  margin: 20px auto;
  font-size: 1.5em;
}

button {
  cursor: pointer;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  color: var(--color-bg);
  background-color: var(--color-fg);
}

.loading {
  cursor:wait;
/* }

.loading .cameras { */
  min-height: 300px;
  position: relative;
  /* opacity: 0; */
}
/* .cameras */
.loading::after, .loading::before {
  content: "";
  display: block;

  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  z-index: 2;
}
.loading::before {
  background: var(--color-bg);
}
.loading::after {
  width: 20px;
  height: 20px;
  /* box-sizing: border-box; */

  border-radius: 100%;
  background: var(--color-red);
  box-shadow: 0 0 0 20px var(--color-red);
  border-color: var(--color-bg);
  border-style: solid;
  border-width: 52px;

  animation: load-anim 1.6s infinite linear;
}

@keyframes load-anim {
  0%{
    border-width: 0px;
    box-shadow: 0 0 0 0px var(--color-red);
  }
  10% {
    border-width: 0px;
    box-shadow: 0 0 0 5px var(--color-red);
  }
  100%{
    border-width: 50px;
    box-shadow: 0 0 -50px 5px var(--color-red);
  }
}

.cameras {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 2vw;
  position: relative;
}

.camera {
  display: block;

  /* width: 200px;
  height: 200px; */
  color: var(--color-bg);
  background: var(--color-fg);
  font-size: calc(20px + 2vw);

  opacity: 0.9;
  /* margin: 20px; */

  padding: 25px 20px;
}
.camera:hover {
  opacity: 1;
}

.preview, .onair {
  color: var(--color-fg);
  position: relative;
}

.preview {
  background: var(--color-green);
}
.onair {
  background: var(--color-red);
}

.not-connected {
  box-shadow: 0 0 0 10px var(--color-orange) inset;
}

.footer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  background: inherit;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.status, .copyright {
	white-space: nowrap;
}
/* 
.name_input:invalid {
  border: red solid 3px;
} */
.name_result:not(:empty)::before {
  content: 'Actual title: ';
}

.bottom_action {
  margin: 10px 5px;
  height: 50px;
  padding: 0 20px;
  text-transform: uppercase;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: absolute;

  font-size: 5vw;
}

.not-exist, .disconnected {
  position: relative;
}
.not-exist::after, .disconnected::after {
  color: var(--color-orange);
}

.not-exist::after {
  content: " doesn't exist";
}
.disconnected::after {
  content: " is disconnected";
}
.preview h2::after {
  content: "preview";
}
.onair h2::after {
  content: "on air";
}

.error {
  color: var(--color-orange);
}

.toCopy {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid var(--color-fg);
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  margin: 1em auto;

  position: relative;
  text-align: left;

  min-width: 250px;
  width: 50%;
  max-width: 1000px;
}

.toCopy>*:nth-child(2) {
  margin: 0.5em auto;
}

.cameras_crew-links {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* @counter-style cameras-style {
  system: extends decimal;
  prefix: 'Camera ';
  suffix: ' - ';
}
.cameras_crew-links {
  text-align: left;
  list-style: cameras-style;
}
.cameras_crew-links>* {
  display: list-item;
} */


.clipboard {
  margin: 0 5px 5px;
  position: relative;
  float: right;
  background: transparent;
}
.clipboard::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  background: var(--color-bg);
}
.clipboard, .clipboard::after {
  box-sizing: border-box;
  border: 1px var(--color-fg) solid;
  height: 25px;
  width: 15px;
  border-radius: 3px;
}