:root {
  --color-fg: whitesmoke;
  --color-bg: #002137;

  --color-green: green; /* #2EC11F */
  --color-red: #E8252F;
  --color-orange: #EC7C26;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y: overlay;
  background: var(--color-bg);
  color: var(--color-fg);
  text-align: center;
  position: relative;
  margin: 0;
}

main {
  padding: 30px;
}

a {
  color: var(--color-fg);
}

.nums_input {
  margin: 10px;
}

button {
  cursor: pointer;
  box-sizing: border-box;
}

.cameras {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 2vw;
}

.camera {
  display: block;

  /* width: 200px;
  height: 200px; */
  color: var(--color-bg);
  background: var(--color-fg);
  font-size: calc(20px + 2vw);

  opacity: 0.9;
  /* margin: 20px; */

  padding: 25px 20px;
}
.camera:hover {
  opacity: 1;
}

.preview, .onair {
  color: var(--color-fg);
  position: relative;
}

.preview {
  background: var(--color-green);
}
.onair {
  background: var(--color-red);
}

.not-connected {
  box-shadow: 0 0 0 10px var(--color-orange) inset;
}

.footer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  background: inherit;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;

  font-size: 5vw;
}

.not-exist, .disconnected {
  position: relative;
}
.not-exist::after, .disconnected::after {
  color: var(--color-orange);
}

.not-exist::after {
  content: " doesn't exist";
}
.disconnected::after {
  content: " is disconnected";
}
.preview h2::after {
  content: "preview";
}
.onair h2::after {
  content: "on air";
}